<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About BlogSpot</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css"> 
</head>
<body>
    <div class="author_">
        <h1 class="author__heading_">About BlogSpot</h1>
        <p class="author__body_">BlogSpot is a platform designed to empower you to express your thoughts, ideas, and stories through blogging. Whether you're a seasoned writer or just starting out, BlogSpot provides you with the tools and flexibility to create and share your content with the world.</p>
        <p class="author__body_">Our mission is to foster a vibrant and inclusive community where individuals can connect, inspire, and learn from one another. We are continuously working to enhance your blogging experience and offer new features to help you engage with your readers and showcase your creativity.</p>
    </div>

</body>

