<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact BlogSpot</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="author_">
        <h1 class="author__heading_">Contact BlogSpot</h1>
        <p class="author__body_">For any inquiries or feedback, please feel free to contact me using the information below:</p>
        <p class="author__body_">Email: h.jain@iitg.ac.in</p>
        <p class="author__body_">Phone: +7898893277</p>
        <p class="author__body_">Address: Barak Hostel, IIT Guwahati</p>
    </div>
</body>
